.themeDeleteBlock{
  position: absolute;
  z-index: 999;
  width: 30%;
  height: 137px;
  left: 70%;
  border-radius: 10px!important;
  top: 0;
  background: rgba(219, 220, 255, 0.66);
  backdrop-filter: blur(3px) !important;
}